@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #212121;  /* this is the same as Tailwind's gray-200 */
  background: linear-gradient(#278b4c, #000000);
}

